*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.linkedin-logo{
  padding-left: 8%;
  padding-top: 10px;
  background-color: rgb(243, 242, 238);
}

/* Register Form */

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgb(243, 242, 238);
  min-height: 100vh;
}

.container h1{
  margin-bottom: 20px;
}

.register-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 100vh;
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px;
}

.register-field{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.register-field input{
  height: 35px;
  width: 100%;
  border-radius: 5px;
  padding: 10px 16px;
}

.register-field label{
  width: 50%;
}

.error-instructions{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  color: white;
  background-color: red;
  text-align: center;
  padding: 3px 3px;
}

.loading-div{
  height: 25px;
  width: 25px;
  align-self: center;
  margin-top: 5px;
}

/* Popup */
.popup-cover{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.popup-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 80vh;
  max-height: 80vh;
  max-width: 744px;
  background-color: #FFF;
  overflow-y: scroll;
  border-radius: 10px;
}

.popup-header{
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px 10px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 5;
  background-color: white;
}

.popup-header h3{
  width: 95%;
  align-self: center;
}

.popup-header .close-btn{
  width: 5%;
  font-size: x-large;
  text-align: center;
  align-self: center;
  border-radius: 50%;
  text-decoration: none;
}

/* Feed */
.feed-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 20px;
  background-color: grey;
  min-height: 100vh;
  height: auto;
}

.jobs-feed-container{
  width: 40%;
  display: flex;
  flex-direction: column;
}

.jobs-feed-header{
  display: flex;
  width: 100%;
  height: 65px;
  background-color: rgb(0, 0, 177);
  text-align: center;
  color: white;
  padding: 5px 10px;
  align-items: center;
}

.jobs-card-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  overflow-y: scroll;
  background-color: white;
}

.jobs-card{
  width: 100%;
  height: 100px;
  display: flex;
}

.jobs-card-img{
  width: 20%;
  height: 100%;
  padding: 10px 10px;
}

.jobs-card-info{
  width: 80%;
  height: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.job-expanded{
  width: 60%;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  max-height: 565px;
  background-color: white;
}

/* User Pages */
.user-navbar{
  display: flex;
  width: 100%;
  height: 60px;
  background-color: white;
}

.navbar-icon{
  margin-left: 10%;
  padding: 10px 10px;
}

.navbar-searchbar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 100%;
}

.navbar-searchbar input{
  width: 100%;
  height: 25px;
}

.navbar-items{
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.navbar-item{
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* Company Feed */
.company-card-container{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  height: 150px;
  width: 25%;
  padding: 10px 10px;
  background-color: white;
  border-radius: 10px;
}

.company-card-img{
  width: 30%;
  height: 60%;
  margin-right: 5px;
}

.company-card-info{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.follow-btn{
  border-radius: 15px;
  width: 40%;
  height: 15%;
  color: grey;
  background-color: white;
}

/* Utilities */
.red-border{
  border-color: red;
}

.img-resize{
  width: 100%;
  height: 100%;
}

.pointer{
  cursor: pointer;
}

.padding-15{
  padding: 15px 15px;
}

.blue{
  color: blue;
}

.grey{
  color: grey;
}

.bold{
  font-weight: bolder;
}

.smaller-font{
  font-size: smaller;
}

/* Responsitivity */
@media only screen and (max-width: 1000px){
  .company-card-container{
    width: 35%;
  }

  .company-card-img{
    width: 30%;
  }
  
  .company-card-info{
    width: 70%;
  }
  
  .follow-btn{
    width: 70%;
  }
}

@media only screen and (max-width: 650px){
  .company-card-container{
    width: 50%;
  }
}