*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.linkedin-logo{
  padding-left: 8%;
  padding-top: 10px;
  background-color: rgb(243, 242, 238);
}

/* Register Form */

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: rgb(243, 242, 238);
  min-height: 100vh;
}

.container h1{
  margin-bottom: 20px;
}

.register-form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 100vh;
  background-color: white;
  border-radius: 10px;
  padding: 15px 15px;
}

.register-field{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.register-field input{
  height: 35px;
  width: 100%;
  border-radius: 5px;
}

.register-field label{
  width: 50%;
}

.error-instructions{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
  color: white;
  background-color: red;
  text-align: center;
  padding: 3px 3px;
}

/* Utilities */
.red-border{
  border-color: red;
}